---
import { BLOG_POST_SOURCE } from "../../../config";

interface Props {
  title: string;
  description: string;
  tags: string[];
  author: string;
  authorSocialLink?: string;
  pubDate: string;
  url?: string;
}

const { title, description, tags, author, pubDate, authorSocialLink, url } =
  Astro.props;
---

<div class="flex flex-col gap-4" style="width: min(500px, 100%);">
  <div class="flex flex-col gap-2">
    <p class="text-2xl font-semibold">{title}</p>
    <div class="flex gap-2">
      {
        tags.map((tag) => (
          <p class="font-semibold text-sm text-green-accent">#{tag}</p>
        ))
      }
    </div>
  </div>
  <div class="flex flex-col gap-2">
    <p class="font-semibold text-base text-text-primary">{description}</p>
    <div class="flex gap-2">
      {
        authorSocialLink ? (
          <a href={authorSocialLink} class="text-sm font-semibold">
            {author}
          </a>
        ) : (
          <p class="text-sm font-semibold text-text-secondary">{author}</p>
        )
      }
      <p class="text-sm text-text-secondary">•</p>
      <p class="text-sm font-semibold text-text-secondary">
        Created on {pubDate}
      </p>
    </div>
  </div>

  <div class="w-fit flex flex-col gap-2">
    <div class="w-full h-[1px] bg-dark-contrast"></div>
    <div class="flex flex-wrap gap-4">
      {
        url ? (
          <>
            <a
              href={url}
              class="flex gap-2 font-semibold tracking-normal text-base text-text-primary hover:underline decoration-2 items-center"
            >
              Read More
              <img src="icons/pin-sharp.svg" class="w-4 h-4" />
            </a>
            <a
              href={`${BLOG_POST_SOURCE}${url}`}
              class="flex gap-2 font-semibold tracking-normal text-base text-text-primary hover:underline decoration-2 items-center"
            >
              View Post Source
              <img src="icons/logo-github.svg" class="w-4 h-4" />
            </a>
          </>
        ) : (
          <p class="text-sm text-red-500 font-semibold">
            Error: No source link was provided
          </p>
        )
      }
    </div>
  </div>
</div>
