---
import CopyCodeLabel from "../Interactive/CopyCodeLabel";
import { Code as AstroCode } from "astro/components";
import type { Props as CodeProps } from "astro/components/Code.astro";

interface Props extends CodeProps {
  codeLabel?: string;
}

const { code, lang = "ts", theme = "poimandres", codeLabel } = Astro.props;
---

<div class="overflow-hidden rounded-md">
  {
    codeLabel && (
      <div class="codeLabel flex items-center justify-between">
        <p class="!text-sm !font-fira text-text-secondary">{codeLabel}</p>
        <CopyCodeLabel code={code} label={codeLabel} client:visible />
      </div>
    )
  }
  <AstroCode code={code} lang={lang} theme={theme} />
</div>
