---
import Layout from "../../layouts/Layout.astro";
import BlogPostPreview from "../../components/Blog/Static/BlogPostPreview.astro";

const blogPosts = await Astro.glob("./posts/**/*.{md,mdx}");
---

<Layout title={"MarioDev | Blog"} description={"Welcome to my blog!"}>
  <main class="mt-32 sectionPadding2x flex flex-col gap-8">
    <div class="max-w-[400px] flex flex-col gap-4">
      <h1 class="text-3xl font-bold text-text-primary">Welcome To My Blog!</h1>
    </div>
    <hr class="border-none h-[1px] bg-dark-contrast" />
    <div class="grid grid-cols-2 gap-20 lg:grid-cols-1">
      {
        blogPosts.map(({ frontmatter, url }) => (
          <BlogPostPreview
            author={frontmatter.author}
            pubDate={frontmatter.pubDate}
            description={frontmatter.description}
            tags={frontmatter.tags}
            title={frontmatter.title}
            url={url}
            authorSocialLink={frontmatter.authorSocialLink}
          />
        ))
      }
    </div>
  </main>
</Layout>
