---
import Layout from "../../layouts/Layout.astro";
import BlogPostPreview from "../../components/Blog/Static/BlogPostPreview.astro";
import { getCollection, type CollectionEntry } from "astro:content";

const blogPosts: CollectionEntry<"blogPosts">[] = await getCollection("blogPosts");
---

<Layout
  title={"MarioDev | Blog"}
  description={"Hello, my name is Mario, I am a 15 year old full stack developer and this is my blog!"}
>
  <main class="mt-32 sectionPadding2x flex flex-col gap-8">
    <div class="max-w-[400px] flex flex-col gap-4">
      <h1 class="text-3xl font-bold dark:text-text-primary text-lightMode-text-primary">
        Welcome To My Blog!
      </h1>
    </div>
    <hr class="border-none h-[1px] dark:bg-dark-contrast bg-lightMode-dark-contrast" />
    <div class="grid grid-cols-2 gap-20 lg:grid-cols-1">
      {
        blogPosts.map(({ data, slug }) => (
          <BlogPostPreview
            author={data.author}
            pubDate={data.pubDate}
            description={data.description}
            tags={data.tags}
            title={data.title}
            url={`/blog/post/${slug}`}
            authorSocialLink={data.authorSocialLink}
          />
        ))
      }
    </div>
  </main>
</Layout>
